
.NavbarItems {
    height: 100px;
    background-color: #0E402D;
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavbarItems h1 {
    color: #CFD2CC;
}

.NavbarItems ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavbarItems ul li{
    list-style: none;
}

.NavbarItems ul li a {
    color: #CFD2CC;
    text-decoration: none;
    margin: 0px 10px;
}

