/* Variables */

:root {
    --Kombu-Green: #333D29;
    --Dark-Olive-Green: #656D4A;
    --Laurel-Green: #A4AC86;
    --Khaki-Web: #B6AD90;
    --Russet: #7F4F24;
    --Logo-Taupe: rgb(230,217,165);

}